{% extends "inner-page.html.twig" %}
{% block title %}
    Plannings
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('plannings') }}
{% endblock %}

{% block main %}
<div id="vue-plannings">
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('plannings') }}
{% endblock %}