<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="descriptison">
        <meta content="" name="keywords">

        <!-- Material design -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">

        <!-- Favicons -->
        <link href="{{ asset( 'build/img/favicon.webp' ) }}" rel="icon">
        <link href="{{ asset( 'build/img/apple-touch-icon.png' ) }}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
        {% endblock %}
    </head>
    <body>

        <div id="vue-header"></div>

        {% block body %}
        {% endblock %}

       <div id="vue-footer"></div>

        {% block javascripts %}
            <script>

                {% if isIndex is defined and isIndex %}
                window.isIndex=true;
                {% else %}
                window.isIndex =false ;
                {% endif %}

            </script>
        {{ encore_entry_script_tags('main') }}
        {% endblock %}

    </body>
</html>
